<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalent</key>
					<string></string>
					<key>keyEquivalentConflict</key>
					<true/>
					<key>name</key>
					<string>Clear</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>cache-clear.php</string>
					<key>uuid</key>
					<string>CBAB1517-2C7B-499E-B688-49BDA9E85011</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalent</key>
					<string></string>
					<key>keyEquivalentConflict</key>
					<true/>
					<key>name</key>
					<string>Warmup</string>
					<key>script</key>
					<string>cache-warmup.php</string>
					<key>uuid</key>
					<string>3C7514F6-025A-4A1E-A566-2447C598797E</string>
				</dict>
			</array>
			<key>name</key>
			<string>Cache</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Force Update</string>
					<key>script</key>
					<string>doctrine-update.php</string>
					<key>uuid</key>
					<string>911A6C02-B928-46A2-AE1F-398EAE6107B8</string>
				</dict>
			</array>
			<key>name</key>
			<string>Doctrine</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Generate From Selection</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>entity-generate-from-selection.php</string>
					<key>uuid</key>
					<string>F996BCFB-A145-402D-A31B-19E186CF47AC</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Generate From File</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>entity-generate-from-file.php</string>
					<key>uuid</key>
					<string>44DE0F5D-7950-4A5B-AB2E-642E6234EDCB</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>name</key>
					<string>Generate Bundle Entities</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>generate-bundle-entites.php</string>
					<key>uuid</key>
					<string>01D53586-D275-495C-8465-6D0ED1C2B984</string>
				</dict>
			</array>
			<key>name</key>
			<string>Entities</string>
		</dict>
	</array>
</dict>
</plist>
